<h2 class="text-center text-primary fw-bold">
  Create computer
</h2>

<form action="/computers/create" method="post" class="w-50 m-auto">
  <div class="mb-3">
    <label for="name" class="form-label text-light">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Name"
      name="name"
    />
  </div>

  <div class="mb-3">
    <label for="ip" class="form-label text-light">Ip</label>
    <input
      type="text"
      class="form-control"
      id="ip"
      placeholder="Ip"
      name="ip"
    />
  </div>

  <div class="mb-3">
    <label for="role" class="form-label text-light">Role</label>
    <input
      type="text"
      class="form-control"
      id="role"
      placeholder="Role"
      name="role"
    />
  </div>

  <button class="btn btn-primary" type="submit">
    Send
  </button>
</form>