<form
  class="mx-auto w-75 bg-dark text-white rounded shadow p-4"
  action="/computers/{{computer.ip}}/edit?_method=PUT"
  method="post"
>
  <input type="hidden" name="_method" value="PUT" />

  <h2 class="text-center text-muted">
    Edit computer
  </h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="name"
        name="name"
        value="{{computer.name}}"
      />
    </div>

    <div class="col-md-6">
      <label for="ip" class="form-label">Ip</label>
      <input
        type="text"
        class="form-control"
        id="ip"
        placeholder="ip"
        name="ip"
        value="{{computer.ip}}"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="role" class="form-label">Role</label>
    <div class="form-floating">
      <select
        name="role"
        class="form-select"
        id="role"
        aria-label="Floating label select example"
      >
        <option value="dhcp">Dhcp</option>
        <option value="dns">Dns</option>
        <option value="web">Web</option>
        <option value="client">Client</option>
      </select>
      <label class="text-black" for="role">Select role</label>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">
    Send
  </button>
</form>