@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'computers.css';
@import 'form.css';

*{
    font-family: 'Poppins';
}

/* HOME */

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins';
    font-weight: bold;
}

.title__home{
    color: #fff;
    margin-top: 70px;
    padding-bottom: 5px;
    position: relative;
}

.title__home::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: #25ca7f;
    border-radius: 32px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* CARDS */

.container__cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cardC{
    width: 500px;
    background-color: #0008;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cardC::after{
    content: "";
    width: 550px;
    height:300px;
    background-color: #0003;
    position: absolute;
    bottom:0;
    left: -550px;
    transition: all .5s ease;
}

.cardC:hover::after{
    left: 0;
}

.cardC__header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cardC__header img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.cardC__header span{
    color: #888;
    font-family: monospace;
}

.cardC__header i{
    margin-left: auto;
    align-self: flex-start;
    transform: rotate(180deg);
    font-size: 30px;
    color: #25ca7f;
}

.cardC__body{
    /* font-family: 'roboto'; */
    text-align: justify;
}

/* COMPUTERS */

.animation{
    animation: btnAnimated 1.5s infinite;
}

.hand{
    color: #fff;
    font-size: 35px;
    /* transition: all .5s ease; */
    animation: handAnimated 1.5s infinite;
}

@keyframes handAnimated {
    from {
    transform: translateY(50px);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes btnAnimated {
    from {
        background-color: #28a745;
    }
    to {
        background-color: #4ab963;    
        box-shadow: 0px 0px 13px 10px #28a74567;
    }
}